<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="sign-up" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Scan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [class.scan-active]="scanActive">

  <ion-button *ngIf="!scanActive || isCountAdded" expand="full" shape="round" color="primary" (click)="startScan()">
    Scan Code
  </ion-button>
  <ion-button *ngIf="scanActive" expand="full" shape="round" color="primary" (click)="stopScan()">
    Stop
  </ion-button>

  <ion-button *ngIf="isCustomer && !isCountAdded" expand="full" shape="round" color="primary" (click)="addCount()">
    Add coffee
  </ion-button>

  <ion-button *ngIf="isEligible" expand="full" shape="round" color="primary" (click)="addFreeCount()">
    Add free coffee
  </ion-button>

</ion-content>
