<ion-header>
  <ion-toolbar>
    <ion-title>Kup.io</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    Wollen sie am Kup.io Programm teilnehmen?
  </div>

  <ion-button size="default" expand="block" color="dark" (click)="signUp()">
    <ion-label>Ja, ich möchte teilnehmen</ion-label>
  </ion-button>


  <div>
    Wollen sie einen Shop registrieren?
  </div>

  <ion-button size="default" expand="block" color="dark" (click)="register()">
    <ion-label>Shop registrieren?</ion-label>
  </ion-button>

</ion-content>
