ion-icon {
  font-size: 45px;
}

ion-content {
  --background: url(../../assets/images/background_II.jpg) no-repeat center/cover fixed;
}

#coupon {
  margin-left: 30px;
  margin-right: 30px;
}

#present {
  margin-top: 30px;
}

p {
  margin-top: 0px;
  font-size: 40px;
}

#qr-code {
  margin-top: 60px;
  margin-bottom: 40px;
}

#shop-name {
  font-size: 30px;
  margin-bottom: 20px;
}
