img {
  width: 60%;
  margin: 10% 20% 20% 20%;
}

ion-icon {
  font-size: 50px;
}

#coupon {
  margin-left: 10px;
  margin-right: 10px;
}

#present {
  margin-top: 50px;
}

p {
  margin-top: 0px;
  font-size: 40px;
}

#qr-code {
  margin-top: 60px;
  margin-bottom: 60px;
}
